@media screen and (max-width: 1440px) {
  .wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    width: 25%;
  }
  .sidebar .sidebar-container {
    padding: 0 15px;
  }
  .main {
    width: 64%;
  }
  .main .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .header .header-content {
    padding-left: 20px;
    padding-top: 55px;
    padding-bottom: 20px;
  }
  .main .header .header-content p.main-banner {
    font-size: 40px;
  }
  .main .header .header-banner {
    position: relative;
  }
  .main .header .header-banner img.banner-img {
    height: 70%;
    bottom: 0;
    right: 20px;
    position: absolute;
  }
  .main .header .vek2 {
    bottom: 79px;
    left: 58px;
  }
  .main .header .vek3 {
    bottom: 162px;
    left: 323px;
  }
  .main .header .vek4 {
    top: 52px;
    right: 234px;
  }
  .main .header .vek5 {
    bottom: 20px;
    right: 236px;
  }
  .main .header .vek6 {
    top: 100px;
    right: 33px;
  }
  .main .header .vek7 {
    bottom: 10px;
    right: 3px;
  }
  .main .services-item {
    width: calc(290px - 50px);
  }
  .main .services-item p.description {
    text-align: center;
  }
  .main .price {
    margin-left: -45%;
  }
  .main .price .price-items {
    margin-left: 15px;
  }
  .main .price .price-items .price-item {
    width: calc(270px - 50px);
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .main .recommendations {
    margin-left: -45%;
  }
  .main .recommendations .recommendation-item.swiper-slide.swiper-slide-duplicate,
  .main .recommendations .recommendation-item.swiper-slide.swiper-slide-active,
  .main .recommendations .recommendation-item.swiper-slide.swiper-slide-next,
  .main .recommendations .recommendation-item.swiper-slide.swiper-slide-prev,
  .main .recommendations .recommendation-item.swiper-slide {
    margin-right: 30px !important;
  }
  .main .recommendations .recommendation-item.swiper-slide.swiper-slide-duplicate .photo-client,
  .main .recommendations .recommendation-item.swiper-slide.swiper-slide-active .photo-client,
  .main .recommendations .recommendation-item.swiper-slide.swiper-slide-next .photo-client,
  .main .recommendations .recommendation-item.swiper-slide.swiper-slide-prev .photo-client,
  .main .recommendations .recommendation-item.swiper-slide .photo-client {
    width: 60px;
    height: 60px;
  }
  .main .portfolio {
    margin-left: -45%;
  }
  .main .portfolio .tabs-nav {
    width: 80%;
  }
  .main .portfolio .tabs-content {
    margin-left: 15px;
  }
  .main .portfolio .tabs-all-category {
    width: 100%;
  }
  .main .portfolio .tab {
    width: 30%;
  }
  .main .portfolio .tab .link-portfolio {
    width: 100%;
  }
  .main .portfolio .tab .link-portfolio .img-portfolio {
    width: 100%;
  }
  .main .contact {
    margin-left: -250px;
  }
  .main .contact .send-message {
    width: 50%;
  }
  .main .contact .contact-info-item {
    width: 87%;
  }
  .main .footer {
    margin-left: -40%;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    max-height: 1460px;
    z-index: 5;
  }
  .sidebar .sidebar-container {
    padding: 0 10px;
    width: 95%;
  }
  .sidebar .extra-skils-content-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar .extra-skils-content-item svg {
    margin-bottom: 5px;
  }
  .sidebar .extra-skils-content-item p {
    margin-top: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .sidebar .language-content svg {
    width: 100%;
  }
  .sidebar .sidebar-skils .skils-content svg {
    width: 100%;
  }
  .sidebar .sidebar-download a {
    padding: 10px 30px;
  }
  .age-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main {
    margin-left: -1.5%;
  }
  .main .header-banner {
    display: none;
  }
  .main .header .vek6 {
    top: 20px;
  }
  .main .header .vek7 {
    bottom: 20px;
    right: 20px;
  }
  .main .header .vek3 {
    bottom: 80px;
    left: 300px;
  }
  .main .services-item {
    width: calc(220px - 50px);
    padding: 40px 20px;
  }
  .main .services-item p.description {
    font-size: 14px;
  }
  .main .services-item .services-link {
    margin-top: 20px;
  }
  .main .services-item svg {
    margin-bottom: 0;
  }
  .main .services-item p.title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .main .recommendations {
    margin-bottom: 0;
  }
  .main .portfolio {
    margin-top: 0;
  }
  .main .portfolio .tabs-nav {
    width: 95%;
  }
  .main .portfolio .tabs-content {
    margin-left: 0px;
  }
  .main .contact {
    margin-left: -195px;
  }
  .main .contact .contact-info {
    width: 40%;
  }
  .main .contact .p-contact-title {
    font-size: 22px;
  }
  .main .contact .contact-info-item {
    width: 98%;
    padding: 25px 5px 15px 5px;
  }
  .main .contact .contact-info-item .info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main input.text {
    padding-bottom: 355px;
  }
  .main #form-footer {
    width: 50%;
  }
  .main #form-footer input.text {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    max-width: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .sidebar {
    max-height: 1600px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
  }
  .wrapper .sidebar .sidebar-container {
    padding: 0 35px;
  }
  .wrapper .sidebar .facebook-link,
  .wrapper .sidebar .instagram-link,
  .wrapper .sidebar .git-link,
  .wrapper .sidebar .weblancer-link {
    padding: 15px;
  }
  .wrapper .sidebar .age-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .sidebar .sidebar-language .language-content svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 60%;
  }
  .wrapper .sidebar .sidebar-skils .skils-content svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 60%;
  }
  .wrapper .sidebar .extra-skils-content-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .sidebar .extra-skils-content-item .p-grey {
    margin-left: 15px;
  }
  .wrapper .main {
    width: 100%;
    margin-left: 0;
  }
  .wrapper .main .container {
    padding: 0;
  }
  .wrapper .main .container .header {
    width: 100%;
    margin-top: 30px;
  }
  .wrapper .main .services-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main .services-items .services-item {
    width: calc(350px - 50px);
  }
  .wrapper .main .price,
  .wrapper .main .recommendations,
  .wrapper .main .portfolio,
  .wrapper .main .contact,
  .wrapper .main .footer {
    margin-left: 0;
  }
  .wrapper .main .price-items {
    margin-left: 0;
  }
  .wrapper .main .price-items .price-item {
    width: calc(320px - 50px);
  }
  .wrapper .main .portfolio .tabs-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main .portfolio .tabs-content .tabs-all-category,
  .wrapper .main .portfolio .tabs-content .design-category,
  .wrapper .main .portfolio .tabs-content .landing-category,
  .wrapper .main .portfolio .tabs-content .wordpress-category,
  .wrapper .main .portfolio .tabs-content .shop-category,
  .wrapper .main .portfolio .tabs-content .card-website-category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main .portfolio .tabs-content .tabs-all-category .tab,
  .wrapper .main .portfolio .tabs-content .design-category .tab,
  .wrapper .main .portfolio .tabs-content .landing-category .tab,
  .wrapper .main .portfolio .tabs-content .wordpress-category .tab,
  .wrapper .main .portfolio .tabs-content .shop-category .tab,
  .wrapper .main .portfolio .tabs-content .card-website-category .tab {
    width: 70%;
  }
  .wrapper .main .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main .contact .send-message {
    width: 70%;
    margin: 0 auto;
  }
  .wrapper .main .contact .send-message .form {
    width: 85%;
  }
  .wrapper .main .contact .send-message .form input.text {
    padding-bottom: 60px;
  }
  .wrapper .main .contact .send-message .form .footerBtnComtainer {
    text-align: center;
  }
  .wrapper .main .contact .contact-info {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .menu {
    width: 100%;
    left: 0;
    height: auto;
    z-index: 30;
    max-width: 100%;
  }
  .wrapper .menu .menu-conteiner .menu-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .menu .menu-conteiner .menu-content .menu-items {
    margin-bottom: 15px;
  }
  .wrapper .menu .up {
    right: 2%;
  }
  #form-footer {
    width: 70%;
    position: absolute;
    top: 20%;
  }
  #form-footer .p-contact-title-popup {
    font-size: 20px;
  }
  #form-footer a.popup-heder-close {
    right: 0%;
    top: 0%;
    font-size: 15px;
  }
  #form-footer .footerDesc {
    font-size: 13px;
  }
  #form-footer #header-popup-input {
    margin-bottom: 10px;
  }
  #form-footer input {
    padding: 5px 10px;
  }
  #form-footer input.text {
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 375px) {
  .main .header .header-content svg {
    width: 80%;
  }
  .main .header .header-content p.main-banner {
    font-size: 30px;
  }
  .main .header .header-content .banner-button svg {
    width: 10%;
  }
  .main .footerDesc {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .wrapper .main .header .vek3 {
    left: 290px;
  }
  .wrapper .main .header .header-content p.main-banner {
    font-size: 27px;
  }
  .wrapper .main .services-items .services-item {
    width: calc(300px - 50px);
  }
  .wrapper .main .price-items .price-item {
    width: calc(300px - 50px);
  }
  .wrapper .main .contact .send-message {
    width: 80%;
  }
  .wrapper .main .contact .send-message .form {
    width: 80%;
  }
  .wrapper .main .contact .send-message .form input {
    width: 90%;
  }
  .wrapper .main .contact .contact-info .contact-info-item {
    width: 85%;
  }
  .wrapper #form-footer input {
    width: 90%;
  }
}
