@media screen and (max-width: 1440px){
    .wrapper{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 1024px){
    .sidebar {
        width: 25%;
        .sidebar-container{
            padding: 0 15px;
        }
    }
    .main {
        width: 64%;
        .header{
            justify-content: space-between;
            .header-content{
                padding-left: 20px;
                padding-top: 55px;
                padding-bottom: 20px;
                p.main-banner{
                    font-size: 40px;
                }
            }
            .header-banner {
                position: relative;

                img.banner-img {
                    height: 70%;
                    bottom: 0;
                    right: 20px;
                    position: absolute;
                }
            }
            .vek2{
                bottom: 79px;
                left: 58px;
            }
            .vek3 {
                bottom: 162px;
                left: 323px;
            }
            .vek4 {
                top: 52px;
                right: 234px;
            }
            .vek5 {
                bottom: 20px;
                right: 236px;
            }
            .vek6 {
                top: 100px;
                right: 33px;
            }
            .vek7 {
                bottom: 10px;
                right: 3px;
            }
        }
        .services-item{
            width: calc(290px - 50px);
            p.description{
                text-align: center;
            }
        }
        .price{
            margin-left: -45%;
            .price-items {
                margin-left: 15px;
                .price-item {
                    width: calc(270px - 50px);
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
            }
        }
        .recommendations{
            margin-left: -45%;
            .recommendation-item.swiper-slide.swiper-slide-duplicate,
            .recommendation-item.swiper-slide.swiper-slide-active,
            .recommendation-item.swiper-slide.swiper-slide-next,
            .recommendation-item.swiper-slide.swiper-slide-prev,
            .recommendation-item.swiper-slide {
                margin-right: 30px !important;
                .photo-client {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .portfolio{
            margin-left: -45%;
            .tabs-nav {
                width: 80%;
            }
            .tabs-content{
                margin-left: 15px;
            }

            .tabs-all-category {
                width: 100%;
            }

            .tab {
                width: 30%;
            
                .link-portfolio {
                    width: 100%;
                
                    .img-portfolio {
                        width: 100%;
                    }
                }
            }
        }
        .contact {
            margin-left: -250px;
            .send-message {
                width: 50%;
            }
            .contact-info-item {
                width: 87%;
            }
        }
        .footer {
            margin-left: -40%;
        }
    }
    
}
@media screen and (max-width: 768px) {
    .sidebar {
        max-height: 1460px;
        z-index: 5;
        .sidebar-container {
            padding: 0 10px;
            width: 95%;
        }

        .extra-skils-content-item {
            flex-direction: column;
            svg {
                margin-bottom: 5px;
            }
            p {
                margin-top: 5px;
                justify-content: center;
                margin: 0;
                align-items: center;
                text-align: center;
            }
        }
        .language-content{
            svg {
                width: 100%;
            }
        }
        .sidebar-skils{
            .skils-content{
                svg {
                    width: 100%;
                }
            }
        }
        .sidebar-download {
            a {
                padding: 10px 30px;
            }
        }
    }
    .age-item {
        flex-direction: column;
    }

    
    .main {
        margin-left: -1.5%;
        .header-banner {
            display: none;
        }
        .header {
            .vek6 {
                top: 20px;
            }
            .vek7 {
                bottom: 20px;
                right: 20px;
            }
            .vek3 {
                bottom: 80px;
                left: 300px;
            }
        }
        .services-item {
            width: calc(220px - 50px);
            padding: 40px 20px;
            p.description{
                font-size: 14px;
            }
            .services-link {
                margin-top: 20px;
            }
            svg{
                margin-bottom: 0;
            }
            p.title{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .recommendations {
            margin-bottom: 0;
        }

        .portfolio {
            margin-top: 0;

            .tabs-nav {
                width: 95%;
            }
            .tabs-content {
                margin-left: 0px;
            }
        }
        .contact {
            margin-left: -195px;
            .contact-info{
                width: 40%;
            }
            .p-contact-title {
                font-size: 22px;
            }
            .contact-info-item {
                width: 98%;
                padding: 25px 5px 15px 5px;
                .info-block {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        input.text {
            padding-bottom: 355px;
        }
        #form-footer {
            width: 50%;

            input.text {
                padding-bottom: 90px;
            }
        }
    }
    

}
@media screen and (max-width: 425px) {
    .wrapper{
        max-width: 100%;
        width: 100%;
        flex-direction: column;
        .sidebar {
            .sidebar-container{
                padding: 0 35px;
            }
            max-height: 1600px;
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            margin-top: 70px;
            .facebook-link,
            .instagram-link,
            .git-link,
            .weblancer-link{
                padding: 15px;
            }
            .age-item {
                flex-direction: row;
            }
            .sidebar-language{
                .language-content{
                    svg {
                        display: flex;
                        align-items: flex-start;
                        width: 60%;
                    }
                }
            }
            .sidebar-skils {
                .skils-content {
                    svg {
                        display: flex;
                        align-items: flex-start;
                        width: 60%;
                    }
                }
            }
            .extra-skils-content-item{
                flex-direction: row;
                align-items: center;
                .p-grey{
                    margin-left: 15px;
                }
            }
        }
        .main{
            width: 100%;
            margin-left: 0;
            .container{
                padding: 0;
                .header{
                    width: 100%;
                    margin-top: 30px;
                }
            }
            .services-items{
                flex-direction: column;
                .services-item {
                    width: calc(350px - 50px);
                }
            }
            .price,
            .recommendations,
            .portfolio,
            .contact,
            .footer{
                margin-left: 0;
            }
            .price-items{
                margin-left: 0;
                .price-item{
                    width: calc(320px - 50px);
                }
                
            }
            .portfolio .tabs-nav{
                flex-direction: column;
            }
            .portfolio .tabs-content{
                .tabs-all-category,
                .design-category,
                .landing-category,
                .wordpress-category,
                .shop-category,
                .card-website-category {
                    flex-direction: column;
                    .tab{
                        width: 70%;
                    }
                }
                
            }
            .contact{
                flex-direction: column;
                .send-message {
                    width: 70%;
                    margin: 0 auto;
                    .form{
                        width: 85%;
                        input.text {
                            padding-bottom: 60px;
                        }
                        .footerBtnComtainer {
                            text-align: center;
                        }
                    }
                }
                .contact-info {
                    margin-top: 30px;
                    width: 100%;
                    text-align: center;
                    align-items: center;
                }
            }
        }
        .menu{
            width: 100%;
            left: 0;
            height: auto;
            z-index: 30;
            max-width: 100%;
            .menu-conteiner{
                .menu-content{
                    flex-direction: row;
                    .menu-items{
                        margin-bottom: 15px;
                    }
                }
            }
            .up{
                right: 2%;
            }
        }
    }
    #form-footer {
        width: 70%;
        position: absolute;
        top: 20%;

        .p-contact-title-popup {
            font-size: 20px;
        }

        a.popup-heder-close {
            right: 0%;
            top: 0%;
            font-size: 15px;
        }

        .footerDesc {
            font-size: 13px;
        }

        #header-popup-input {
            margin-bottom: 10px;
        }

        input {
            padding: 5px 10px;
        }

        input.text {
            padding-bottom: 100px;
            display: flex;
            align-items: flex-start;
        }
    }
}
@media screen and (max-width: 375px){
    .main{
        .header{
            .header-content {
                svg {
                    width: 80%;
                }

                p.main-banner {
                    font-size: 30px;
                }
                .banner-button{
                    svg{
                        width: 10%;
                    }
                }
            }
        }
        .footerDesc {
            font-size: 15px;
        }
    }
}
@media screen and (max-width: 320px){
    .wrapper{
        .main {
            .header {
                .vek3 {
                    left: 290px;
                }

                .header-content {
                    p.main-banner {
                        font-size: 27px;
                    }
                }
            }

            .services-items {
                .services-item {
                    width: calc(300px - 50px);
                }
            }
            .price-items{
                .price-item {
                    width: calc(300px - 50px);
                }
            }
            .contact{
                .send-message{
                    width: 80%;
                    .form{
                        width: 80%;
                        input{
                            width: 90%;
                        }
                    }
                }
                .contact-info{
                    .contact-info-item {
                        width: 85%;
                    }
                }
            }
        }
        #form-footer{
            input{
                width: 90%;
            }
        }
    }
}